<!DOCTYPE html>
<html>
  <head>
    <title>Baljit Kaur</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%- include('header') %>
    <h1>Baljit Kaur</h1>
    <p>Baljit kaur is my mother and she is housewife</p>
  </body>
</html>
