<!DOCTYPE html>
<html>
  <head>
    <title>Kulvir</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%- include('header') %>
    <h1>Kulvir Singh</h1>
	<p>kulvir singh is my father and he is in police</p>
  </body>
</html>
