<!DOCTYPE html>
<html>
  <head>
    <title>Manveet Kaur</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%- include('header') %>
    <h1>Manveet Kaur</h1>
    <p>Manveet Kaur is my sister and she is an optician</p>
  </body>
</html>
